<?xml version="1.0"?>
<launch>   

  <node name="hand_driver" pkg="ar10" type="ar10_rviz_control_node.py" output="screen"/>
  <node name="hand_motion" pkg="ar10" type="ar10_glove_experiment.py" output="screen"/>
  <include file="$(find ar10_description)/launch/display_baxter.launch" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ar10_description)/baxter.rviz" required="true" />

</launch>
