<?xml version="1.0"?>
<launch>     

  <arg name="port1"           	     default="/dev/ttyACM0" />

  <node name="gripper_action_server" pkg="baxter_interface" type="gripper_action_server.py" output="log" />
  <node name="joint_action_server_right" pkg="baxter_interface" type="joint_trajectory_action_server.py" args="--limb right --mode velocity" required="true" output="log"/>
  
  <!-- Run the Joint Trajectory Action -->

  
   <node name="planner_htn" pkg="baxter_moveit" type="planner.py" args="--limb right" output="screen" />
  <node name="joint_states_service" pkg="baxter_moveit" type="joint_states_service.py" output="screen" />
  
  <!--<node name="hand_obstacle" pkg="baxter_moveit" type="obstacle_handler.py" output="screen" />-->
  <include file="$(find baxter_moveit)/launch/moveit_config.launch" />    
  
  <!-- Recording Tactile Sensor-->
	<node pkg="melexis"  type="melexis_driver.py"  name="melexis_driver1" output="screen" respawn="false"    launch-prefix=""  required="true">
		<param name="port"                value="$(arg port1)"/>  
	</node>
	

  <!-- Camera Listener -->
  <node name="baxter_camera_listener" pkg="baxter_camera_listener" type="handoverDetector.py" output="screen" />  
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find baxter_moveit)/config/rviz_planning_scene.rviz" required="true" />

</launch>
